controller_manager_msgs==0.19.4
roslib==1.15.7
sensor_msgs==1.13.1
tensorflow==2.5.0
cv_bridge==1.15.0
rospy==1.15.11
pandas==0.25.3
numpy==1.17.4
tf==1.13.2
imgaug==0.4.0
opencv_python==4.5.1.48
matplotlib==3.1.2
Pillow==8.2.0
scikit_learn==0.24.2
