<launch>
    <arg name="twist_dir_topic" default="/android_input_dir"/>
    <arg name="int_dir_topic" default="/pub_dir"/>
    <arg name="int_vel_topic" default="/pub_vel"/>
    <arg name="int_vel_max" default="108"/>
    <arg name="vel_cmd_topic" default="/android_input_vel"/>
    <arg name="bool_btn_topic" default="/android_input_velin"/>

    <include file="$(find physical_bringup)/launch/modules/rosserial.launch" />

    <include file="$(find physical_bringup)/launch/modules/android_conversor.launch">
        <arg name="twist_dir_topic" value="$(arg twist_dir_topic)"/>
        <arg name="int_dir_topic" value="$(arg int_dir_topic)"/>
        <arg name="int_vel_topic" value="$(arg int_vel_topic)"/>
        <arg name="int_vel_max" value="$(arg int_vel_max)"/>
        <arg name="vel_cmd_topic" value="$(arg vel_cmd_topic)"/>
        <arg name="bool_btn_topic" value="$(arg bool_btn_topic)"/>
    </include>

</launch>