<launch>

  <arg name="image_raw_topic" default="/ackermann_vehicle/camera/rgb/image_raw"/>
  <arg name="twist_cmd_topic" default="/cmd_vel"/>
  <arg name="vel_cmd_topic" default=""/>
  <arg name="folder" default="set1"/>
  <arg name="rate" default="30"/>
  <arg name="width" default="320"/>
  <arg name="height" default="160"/>
  <!-- only for yaml file -->
  <arg name="env" default="gazebo"/>
  <arg name="vel" default="0"/>
  <arg name="urdf" default=""/>

  <include file="$(find cnn)/launch/write.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)"/>
    <arg name="twist_cmd_topic" value="$(arg twist_cmd_topic)"/>
    <arg name="vel_cmd_topic" value="$(arg vel_cmd_topic)"/>
    <arg name="folder" value="$(arg folder)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="width" value="$(arg width)"/>
    <arg name="height" value="$(arg height)"/>
    <arg name="vel" value="$(arg vel)"/>
    <arg name="env" value="$(arg env)"/>
    <arg name="urdf" value="$(arg urdf)"/>
  </include>

</launch>
