<launch>

  <arg name="image_raw_topic" default="/top_front_camera/rgb/image_raw"/>
  <arg name="image_signal_topic" default="/top_left_camera/image_raw"/>
  <arg name="twist_cmd_topic" default="/cmd_vel"/>
  <arg name="signal_cmd_topic" default="/signal_detected"/>
  <arg name="model_steering_topic" default="/model_steering"/>
  <arg name="crosswalk_sureness_topic" default="/crosswalk_sureness"/>
  <arg name="model_name" default=""/>
  <arg name="mask_mode" default="True"/>

  <include file="$(find prometheus_driving)/launch/ml_driving.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)" />
    <arg name="model_steering_topic" value="$(arg model_steering_topic)"/>
    <arg name="model_name" value="$(arg model_name)"/>
  </include>
  
  <include file="$(find prometheus_signal_recognition)/launch/signal_recognition.launch">
    <arg name="image_raw_topic" value="$(arg image_signal_topic)" />
    <arg name="signal_cmd_topic" value="$(arg signal_cmd_topic)"/>
    <arg name="mask_mode" value="$(arg mask_mode)"/>
  </include>
  
  <include file="$(find prometheus_crosswalk)/launch/crosswalk_detection.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)" />
    <arg name="crosswalk_sureness_topic" value="$(arg crosswalk_sureness_topic)"/>
  </include>
  
  <include file="$(find prometheus_decision)/launch/decision_maker.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)" />
    <arg name="twist_cmd_topic" value="$(arg twist_cmd_topic)"/>
    <arg name="signal_cmd_topic" value="$(arg signal_cmd_topic)"/>
    <arg name="crosswalk_sureness_topic" value="$(arg crosswalk_sureness_topic)"/>
    <arg name="model_steering_topic" value="$(arg model_steering_topic)"/>
  </include>
  
</launch>
