<?xml version="1.0"?>
<launch>

    <!-- Launch file arguments -->
    <arg name="vehicle_name" default="prometheus"/>
    <arg name="visualize" default="true"/>
    <arg name="urdf" default="prometheus_ackermann"/>
    <arg name="calibration" default="false"/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.3"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="$(find prometheus_description)/config/prometheus_steering_params.yaml">
    </node>

    <!-- Load ackermann_steering_bot model -->
    <param name="robot_description"
            command="$(find xacro)/xacro $(find prometheus_description)/urdf/$(arg urdf).urdf.xacro"/>

    <!-- Read joint positions from joint_states, then publish the vehicle's
    state to tf. -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="30.0"/>
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <!--      &lt;!&ndash; Load controller config &ndash;&gt;-->
    <rosparam command="load" file="$(find prometheus_description)/config/gains.yaml"/>

    <!--      &lt;!&ndash; Load ackermann_steering_bot config &ndash;&gt;-->
    <rosparam command="load" file="$(find prometheus_description)/config/prometheus_hw_sim.yaml" />

    <!-- Including robots spawn -->
    <include file="$(find prometheus_bringup)/launch/spawn.launch">
        <arg name="vehicle_name" value="$(arg vehicle_name)"/>
        <arg name="x_pos" value="$(arg x_pos)"/>
        <arg name="y_pos" value="$(arg y_pos)"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!-- <group if="$(arg visualize)"> -->
        <!-- <include file="$(find prometheus_bringup)/launch/visualize.launch"> -->
            <!-- <arg name="model_name" value="$(arg model_name)"/> -->
        <!-- </include> -->
    <!-- </group> -->

</launch>