<launch>

  <arg name="image_raw_topic" default="/real_camera"/>
  <arg name="twist_cmd_topic" default="/android_input_dir"/>
  <arg name="vel_cmd_topic" default="/android_input_vel"/>
  <arg name="twist_linear_x" default="1"/>
  <arg name="float_cmd_topic" default="/flt_cmd"/>
  <arg name="modelname" default="model_default.h5"/>

  <group if="$(eval arg('modelname') != '')">
    <node name="ml_driving" pkg="cnn" type="ml_driving.py" output="screen">
      <param name="image_raw_topic" value="$(arg image_raw_topic)"/>
      <param name="twist_cmd_topic" value="$(arg twist_cmd_topic)"/>
      <param name="twist_linear_x" value="$(arg twist_linear_x)"/>
      <param name="modelname" value="$(arg modelname)"/>
    </node>
  </group>
  
</launch>
