<launch>

  <arg name="image_raw_topic" default="/real_camera" />
  <arg name="dir_cmd_topic" default="/android_input_dir" />
  <arg name="vel_cmd_topic" default="/android_input_vel" />
  <arg name="float_cmd_topic" default="flt_cmd" />
  <arg name="model" default="" />
  
  <include file="$(find cnn)/launch/driving2av.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)" />
    <arg name="dir_cmd_topic" value="$(arg dir_cmd_topic)" />
    <arg name="float_cmd_topic" value="$(arg float_cmd_topic)" />
    <arg name="vel_cmd_topic" value="$(arg vel_cmd_topic)"/>
    <arg name="model" value="$(arg model)" />
  </include>
  
</launch>
