<launch>

  <arg name="image_raw_topic" default="/real_camera" />
  <arg name="twist_cmd_topic" default="/android_input_dir" />
  <arg name="vel_cmd_topic" default="android_input_vel" />
  <arg name="model" default="" />
  <arg name="model_park" default="" />
  <arg name="signal_cmd_topic" default=""/>
  
  <include file="$(find cnn)/launch/driving1.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)" />
    <arg name="twist_cmd_topic" value="$(arg twist_cmd_topic)" />
    <arg name="vel_cmd_topic" value="$(arg vel_cmd_topic)"/>
    <arg name="model" value="$(arg model)" />
    <arg name="model_park" value="$(arg model_park)" />
    <arg name="signal_cmd_topic" value="$(arg signal_cmd_topic)"/>
  </include>
  
</launch>
