<launch>
  <arg name="image_raw_topic" default="/real_camera"/>
  <arg name="signal_cmd_topic" default="/signal_vel"/>
  <arg name="mask_mode" default="False"/>

  <include file="$(find signal_recognition)/launch/signal_panel_recognition.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)"/>
    <arg name="signal_cmd_topic" value="$(arg signal_cmd_topic)"/>
    <arg name="mask_mode" value="$(arg mask_mode)"/>
  </include>

</launch>