<launch>

  <arg name="image_raw_topic" default="/real_camera"/>
  <arg name="twist_cmd_topic" default="/android_input_dir"/>
  <arg name="vel_cmd_topic" default="/android_input_vel"/>
  <arg name="folder" default="set1"/>
  <arg name="rate" default="30"/>
  <arg name="width" default="320"/>
  <arg name="height" default="160"/>
  <arg name="env" default="physical"/>
  <arg name="cam_pose" default=""/>


  <include file="$(find cnn)/launch/write.launch">
    <arg name="image_raw_topic" value="$(arg image_raw_topic)"/>
    <arg name="twist_cmd_topic" value="$(arg twist_cmd_topic)"/>
    <arg name="vel_cmd_topic" value="$(arg vel_cmd_topic)"/>
    <arg name="folder" value="$(arg folder)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="cam_pose" value="$(arg cam_pose)"/>
    <arg name="width" value="$(arg width)"/>
    <arg name="height" value="$(arg height)"/>
    <arg name="env" value="$(arg env)"/>
  </include>

</launch>