<launch>

  <arg name="image_raw_topic" default="/top_front_camera/rgb/image_raw"/>

  <!-- Set global parameteres -->
  
  <node name="drivable_area" pkg="prometheus_semantic_segmentation" type="drivable_area.py" output="screen" required="true" >
    <param name="image_raw_topic" value="$(arg image_raw_topic)" />
  </node>
  
</launch>
