<launch>
  <arg name="frame_id" default="top_front_camera"/>
  <arg name="device_serial" default="#1"/>

  <include file="$(find openni_launch)/launch/openni.launch">
      <arg name="depth_registration" value="true"/>
      <arg name="camera" value="$(arg frame_id)"/>
      <arg name="device_id" value="$(arg device_serial)"/>
  </include>

</launch>
