<?xml version="1.0"?>
<robot name="prometheus_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo reference="top_front_camera_optical_frame">
        <sensor name="kinect" type="depth">
            <!-- openni plugin has the x pointing towards the scene, so rotate to have z -->
            <pose frame="world">0.0 0.0 0.0 0.0 0.0 0.0</pose>
            <camera>
                <horizontal_fov>0.74839718</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>1024</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>10.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.5</mean>
                    <stddev>1.0</stddev>
                </noise>
            </camera>
            <plugin name="kinect_plugin" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.1</baseline>
                <alwaysOn>true</alwaysOn>
                <!-- Keep this zero, update_rate in the parent <sensor> tag
                will control the frame rate. -->
                <updateRate>0.0</updateRate>
                <cameraName>kinect_test</cameraName>
                <imageTopicName>/top_front_camera/image_raw</imageTopicName>
                <cameraInfoTopicName>/top_front_camera/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/top_front_camera/image_raw_depth</depthImageTopicName>
                <depthImageInfoTopicName>/top_front_camera/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>/top_front_camera/3d_cloud</pointCloudTopicName>
                <frameName>top_front_camera_optical_frame</frameName>
                <pointCloudCutoff>0.5</pointCloudCutoff>
                <pointCloudCutoffMax>2.0</pointCloudCutoffMax>
            </plugin>
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
        </sensor>
    </gazebo>

    <gazebo reference="bottom_front_camera_optical_frame">
        <sensor name="kinect" type="depth">
            <!-- openni plugin has the x pointing towards the scene, so rotate to have z -->
            <pose frame="world">0.0 0.0 0.0 0.0 0.0 0.0</pose>
            <camera>
                <horizontal_fov>0.74839718</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>1024</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>10.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.5</mean>
                    <stddev>1.0</stddev>
                </noise>
            </camera>
            <plugin name="kinect_plugin" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.1</baseline>
                <alwaysOn>true</alwaysOn>
                <!-- Keep this zero, update_rate in the parent <sensor> tag
                will control the frame rate. -->
                <updateRate>0.0</updateRate>
                <cameraName>kinect_test</cameraName>
                <imageTopicName>/bottom_front_camera/image_raw</imageTopicName>
                <cameraInfoTopicName>/bottom_front_camera/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/bottom_front_camera/image_raw_depth</depthImageTopicName>
                <depthImageInfoTopicName>/bottom_front_camera/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>/bottom_front_camera/3d_cloud</pointCloudTopicName>
                <frameName>bottom_front_camera_optical_frame</frameName>
                <pointCloudCutoff>0.5</pointCloudCutoff>
                <pointCloudCutoffMax>2.0</pointCloudCutoffMax>
            </plugin>
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
        </sensor>
    </gazebo>

    <gazebo reference="top_left_camera_rgb_optical_frame">
        <sensor type="camera" name="Usb Camera">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <camera>
            <horizontal_fov>1.085595</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.03</near>
                <far>100</far>
            </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>30.0</updateRate>
            <cameraName>top_left_camera</cameraName>
            <frameName>top_left_camera_rgb_optical_frame</frameName>
            <imageTopicName>top_left_camera/image_raw</imageTopicName>
            <cameraInfoTopicName>top_left_camera/camera_info</cameraInfoTopicName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
        </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="top_right_camera_rgb_optical_frame">
        <sensor type="camera" name="Usb Camera">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <camera>
            <horizontal_fov>1.085595</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.03</near>
                <far>100</far>
            </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>30.0</updateRate>
            <cameraName>top_right_camera</cameraName>
            <frameName>top_right_camera_rgb_optical_frame</frameName>
            <imageTopicName>top_right_camera/image_raw</imageTopicName>
            <cameraInfoTopicName>top_right_camera/camera_info</cameraInfoTopicName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
        </plugin>
        </sensor>
    </gazebo>



</robot>
