<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kinect" params="name x y z roll pitch yaw">
        <joint name="${name}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
            <parent link="base_link"/>
            <child link="${name}_link"/>
        </joint>

        <link name="${name}_link">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 1.5708"/>
                <geometry>
                    <mesh filename="package://prometheus_description/meshes/kinect.dae"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="0.06 0.30 0.07"/>
                </geometry>
            </collision>
        </link>

        <joint name="${name}_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="${name}_link"/>
            <child link="${name}_optical_frame"/>
        </joint>
        
        <link name="${name}_optical_frame"/>
    </xacro:macro>


    <xacro:macro name="usb_cam" params="name x y z roll pitch yaw">
        <joint name="${name}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
            <parent link="base_link"/>
            <child link="${name}_link"/>
        </joint>

        <link name="${name}_link">
            <visual>
                <geometry>
                    <box size="0.015 0.030 0.027"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.015 0.030 0.027"/>
                </geometry>
            </collision>
        </link>
        
        <joint name="${name}_rgb_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="${name}_link"/>
            <child link="${name}_rgb_optical_frame"/>
        </joint>
        <link name="${name}_rgb_optical_frame"/>
    </xacro:macro>

</robot>
