<?xml version="1.0"?>
<robot name="robot_diff" xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo>
    <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
      <updateRate>100.0</updateRate>
      <robotNamespace>/</robotNamespace>
      <leftFrontJoint>wheel_left_front_joint</leftFrontJoint>
      <rightFrontJoint>wheel_right_front_joint</rightFrontJoint>
      <leftRearJoint>wheel_left_joint</leftRearJoint>
      <rightRearJoint>wheel_right_joint</rightRearJoint>
      <wheelSeparation>0.243</wheelSeparation>
      <wheelDiameter>0.124</wheelDiameter>
      <robotBaseFrame>base_link</robotBaseFrame>
      <torque>20</torque>
      <topicName>cmd_vel</topicName>
      <broadcastTF>false</broadcastTF>
    </plugin>
  </gazebo>
</robot>