<launch>

    <arg name="topic" default="/ackermann_vehicle/camera/rgb/image_raw" />
    <arg name="topicl" default="/ackermann_vehicle/cameral/rgb/image_raw" />
    <arg name="topicr" default="/ackermann_vehicle/camerar/rgb/image_raw" />

    <group if="$(eval arg('topic') != '')">
        <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
            <remap from="image" to="$(arg topic)" />
        </node>
    </group>

    <group if="$(eval arg('topicl') != '')">
        <node name="image_viewl" pkg="image_view" type="image_view" respawn="false" output="screen">
            <remap from="image" to="$(arg topicl)" />
        </node>
    </group>

    <group if="$(eval arg('topicr') != '')">
        <node name="image_viewr" pkg="image_view" type="image_view" respawn="false" output="screen">
            <remap from="image" to="$(arg topicr)" />
        </node>
    </group>

</launch>