<launch>
    <arg name="urdf" default="robot05"/>
    <arg name="world" default="arena1"/>
    <arg name="vel" default="0.5"/>
    <arg name="image_raw_topic" default="/3d_image/image_raw"/>

    <include file="$(find simulation_bringup)/launch/modules/arena.launch" >
        <arg name="world" value="$(arg world)"/>
    </include>

    <include file="$(find simulation_bringup)/launch/modules/cmd_vel.launch" >
        <arg name="linear_default" value="$(arg vel)"/>
    </include>
    
    <include file="$(find simulation_bringup)/launch/modules/traxxas_robot.launch" >
        <arg name="urdf" value="$(arg urdf)"/>
    </include>

    <include file="$(find simulation_bringup)/launch/modules/twist_to_ackermann.launch" />

<!--    <node pkg="tf" type="static_transform_publisher" name="base_to_kinect" args=" 0.0 0.0 0.2 1.5708 3.14159 0.9708 base_link kinect_optical_frame1 10" />-->
<!--    <node pkg="tf" type="static_transform_publisher" name="base_to_kinect2" args=" 0.0 0.0 0.35 1.5708 3.14159 1.5708 base_link kinect2_optical_frame1 10" />-->

</launch>