<launch>

  <arg name="folder" default="set1"/>
  <arg name="model" default="model1.h5"/>
  <arg name="epochs" default="20"/>
  <arg name="batch_size" default="32"/>
  <arg name="reduce_dataset" default="1"/>
  <arg name="n_tf" default="2"/>
  
  <include file="$(find simulation_bringup)/launch/modules/training_cnn2a_tf.launch">
    <arg name="epochs" value="$(arg epochs)"/>
    <arg name="folder" value="$(arg folder)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="batch_size" value="$(arg batch_size)"/>
    <arg name="reduce_dataset" value="$(arg reduce_dataset)"/>
    <arg name="n_tf" value="$(arg n_tf)"/>
  </include>
  
</launch>
