<launch>

    <arg name="folder" default="set1"/>
    <arg name="urdf" default="robot05"/>
    <arg name="world" default="arena1"/>
    <arg name="vel" default="0.5"/>
    <arg name="image_raw_topic" default="/3d_image/image_raw"/>

    <arg name="cam_height" default=""/>
    <arg name="cam_angle" default=""/>

    <include file="$(find simulation_bringup)/launch/modules/arena.launch" >
        <arg name="world" value="$(arg world)"/>
    </include>

    <include file="$(find simulation_bringup)/launch/modules/traxxas_robot.launch" >
        <arg name="urdf" value="$(arg urdf)"/>
    </include>

    <include file="$(find simulation_bringup)/launch/modules/cmd_vel.launch" >
        <arg name="linear_default" value="$(arg vel)"/>
    </include>

    <include file="$(find simulation_bringup)/launch/modules/write_cnn.launch" >
        <arg name="folder" value="$(arg folder)"/>
        <!-- only for yaml file -->
        <arg name="vel" value="$(arg vel)"/>
        <arg name="cam_height" value="$(arg cam_height)"/>
        <arg name="cam_angle" value="$(arg cam_angle)"/>
        <arg name="image_raw_topic" value="$(arg image_raw_topic)"/>

    </include>

    <include file="$(find simulation_bringup)/launch/modules/twist_to_ackermann.launch" />

</launch>
