<launch>

    <arg name="model" default=""/>
    <arg name="urdf" default="robot05"/>
    <arg name="world" default="arena1"/>
    <arg name="twist_cmd_topic" default="/cmd_vel"/>
    <arg name="vel_cmd_topic" default=""/>
    <arg name="signal_cmd_topic" default="/signal_vel"/>
    <arg name="twist_linear_x" default="0.5" />

    <group if="$(eval arg('model') != '')">
        <include file="$(find simulation_bringup)/launch/modules/arena.launch" >
            <arg name="world" value="$(arg world)"/>
        </include>

        <include file="$(find simulation_bringup)/launch/modules/traxxas_robot.launch" >
            <arg name="urdf" value="$(arg urdf)"/>
        </include>

        <include file="$(find simulation_bringup)/launch/modules/driving_cnn2a.launch" >
            <arg name="model" value="$(arg model)"/>
            <arg name="twist_linear_x" value="$(arg twist_linear_x)"/>
            <arg name="signal_cmd_topic" value="$(arg signal_cmd_topic)"/>
        </include>

        <include file="$(find simulation_bringup)/launch/modules/signal_panel_recognition.launch">
            <arg name="signal_cmd_topic" value="$(arg signal_cmd_topic)"/>
        </include>

        <include file="$(find simulation_bringup)/launch/modules/twist_to_ackermann.launch" />
    </group>

</launch>
