<launch>

  <arg name="folder" default="set1"/>
  <arg name="model" default="model1.h5"/>
  <arg name="epochs" default="20"/>
  <arg name="batch_size" default="32"/>
  
  <include file="$(find simulation_bringup)/launch/modules/training_cnn2a.launch">
    <arg name="epochs" value="$(arg epochs)"/>
    <arg name="folder" value="$(arg folder)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="batch_size" value="$(arg batch_size)"/>
  </include>
  
</launch>
