<launch>

  <arg name="folder" default="set1"/>
  <arg name="model" default="model1.h5"/>

  <arg name="epochs" default="20"/>
  <arg name="steps_per_epoch" default="50"/>
  
  <include file="$(find simulation_bringup)/launch/modules/training_cnn1.launch">
    <arg name="epochs" value="$(arg epochs)"/>
    <arg name="steps_per_epoch" value="$(arg steps_per_epoch)"/>
    <arg name="folder" value="$(arg folder)"/>
    <arg name="model" value="$(arg model)"/>
  </include>
  
</launch>
