<launch>

  <arg name="twist_cmd_topic" default="/cmd_vel"/>
  <arg name="ackermann_cmd_topic" default="/ackermann_vehicle/ackermann_cmd"/>
  <arg name="wheelbase" default="0.335"/>
  <arg name="frame_id" default="odom"/>
  <arg name="message_type" default="ackermann_drive_stamped"/>

    <node pkg="traxxas_description" type="twist_to_ackermann.py" name="twist_to_ackermann" output="screen">
        <param name="twist_cmd_topic" value="$(arg twist_cmd_topic)"/>
        <param name="ackermann_cmd_topic" value="$(arg ackermann_cmd_topic)"/>
        <param name="wheelbase" value="$(arg wheelbase)"/>
        <param name="frame_id" value="$(arg frame_id)"/>
        <param name="message_type" value="$(arg message_type)"/>
    </node>
</launch>
